@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:wght@400;500;600;700&display=swap');

body {
    background-color: #000;
    color: #e7e7e7;
    font-family: 'Open sans', sans-serif;
}

.Contact {
    display: flex;
}

.Image {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    overflow-y: auto;
    background-color: #E5DDD5;
    background-size: cover;
    background-position: center;
    background-image: url('https://i.ibb.co/zRb3yrp/logo.png');
    margin: 50px 200px 0px 150px;
}

.Info {
    margin: 50px 0px 0px 0px;
    width: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.Info h1 {
    font-weight: 500;
    font-style: normal;
}

.Icons {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Icons a{
    margin: 6px 0px;
    cursor: pointer;
}

.Icons a:hover {
    opacity: 0.5;
}

.Icons--facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.iconFacebook {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    cursor: pointer;
}

.iconFacebook:hover {
    opacity: 0.5;
}

.Icons--instagram {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.iconInstagram {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    cursor: pointer;
}

.iconInstagram:hover {
    opacity: 0.5;
}

.Icons--twitter {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.iconTwitter {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    cursor: pointer;
}

.iconTwitter:hover {
    opacity: 0.5;
}