@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.Header {
    height: 78px;
    background-color: #000;
    color: #fff;
    font-family: 'Open sans', sans-serif;
    display: flex;
    width: 100%;
    border-bottom: 0.3px solid #393939; 
}

.Header--titles{
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    margin-right: 200px;
}

.Links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0px 250px;
    text-decoration: none;  
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', sans-serif;
    font-size: 26px;
    margin-left: 60px;
    opacity: 1;
    color: #FFF;
}

.Links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    opacity: 0.6;
}

.Links a:hover {
    opacity: 1;
}